unsafe-perm=true
unsafe-perm=true
@one:registry=https://code.roche.com/api/v4/packages/npm/
//code.roche.com/api/v4/packages/npm/:_authToken=UrPWnJQ67XZykP3N5nQD
@navify-cfa-portal-toolkit:registry=https://code.roche.com/api/v4/projects/172028/packages/npm/
//code.roche.com/api/v4/projects/172028/packages/npm/:_authToken=E9vJeGbcseMzeqUe7-Ac
@navify-cfa-portal-shell:registry=https://code.roche.com/api/v4/projects/166348/packages/npm/
//code.roche.com/api/v4/projects/166348/packages/npm/:_authToken=E9vJeGbcseMzeqUe7-Ac
@dialog-eservices-enablement:registry=https://code.roche.com/api/v4/projects/37711/packages/npm/
//code.roche.com/api/v4/projects/37711/packages/npm/:_authToken=UrPWnJQ67XZykP3N5nQD
@navify-cfa-workspace:registry=https://code.roche.com/api/v4/projects/184323/packages/npm/
//code.roche.com/api/v4/projects/184323/packages/npm/:_authToken=E9vJeGbcseMzeqUe7-Ac