<owc-table show-selection-column>
  <owc-table-header>
    <owc-table-header-cell width="160px" align="left" resizable sortable>
      Col 1
    </owc-table-header-cell>
  </owc-table-header>
  <owc-table-body>
    <owc-table-row expandable selectable selected>
      <owc-table-cell>Data 1.1</owc-table-cell>
    </owc-table-row>
    <owc-table-row expandable selectable [selected]="true">
      <owc-table-cell>Data 2.1</owc-table-cell>
    </owc-table-row>
    <owc-table-row expandable selectable [attr.selected]="true">
      <owc-table-cell>Data 1.1</owc-table-cell>
    </owc-table-row>
    <owc-table-row expandable selectable selected="{{ true }}">
      <owc-table-cell>Data 1.1</owc-table-cell>
    </owc-table-row>
  </owc-table-body>
</owc-table>
<router-outlet />
